# Data cleaning.

In [1]:
import pandas as pd

load extracted data

In [14]:
cars = pd.read_csv("tucarro/data/cars.csv")
motors = pd.read_csv("tucarro/data/motor.csv")

In [8]:
cars.head()

,name,generation,price,ubication
0,Toyota Hilux 2.4 4x4 Diesel Full,2023,216500000 pesos,Usaquén - Bogotá D.C.
1,"Trailer Remolque, Oficina Movil De Gran Capaci...",2024,35000000 pesos,Engativa - Bogotá D.C.
2,Toyota Land Cruiser 300 Gr-s 2023 B2+,2023,850000000 pesos,Medellín - Antioquia
3,Jac E10x Electrico,2023,104990000 pesos,Usaquén - Bogotá D.C.
4,Volkswagen Jetta 2.0 Gli,2023,159990000 pesos,Suba - Bogotá D.C.

In [9]:
motors.head()

,name,generation,price,ubication
0,Pulsar N250 Fi Abs,2023,13750000 pesos,Antonio Nariño - Bogotá D.C.
1,Pulsar N250 Fi Abs,2023,13999000 pesos,Antonio Nariño - Bogotá D.C.
2,Pulsar N250,2023,13999000 pesos,Antonio Nariño - Bogotá D.C.
3,Pulsar Ns 200 Fi Abs,2023,13399000 pesos,Antonio Nariño - Bogotá D.C.
4,Pulsar Ns 200 Fi Pulsarmania,2023,12199000 pesos,Engativa - Bogotá D.C.

Transformation of the cars dataframe

In [15]:
cars["price"] = cars.price.str.replace(" pesos", "")
cars["price"] = cars.price.str.replace("Antes: ", "")
cars[["city", "departament"]] = cars.ubication.str.split("-", expand=True)
cars.drop(["ubication"], axis=1, inplace=True)
cars["price"] = cars["price"].astype("float64")
cars["generation"] = cars["generation"].astype("int")

In [16]:
cars.head()

,name,generation,price,city,departament
0,Toyota Hilux 2.4 4x4 Diesel Full,2023,216500000.0,Usaquén,Bogotá D.C.
1,"Trailer Remolque, Oficina Movil De Gran Capaci...",2024,35000000.0,Engativa,Bogotá D.C.
2,Toyota Land Cruiser 300 Gr-s 2023 B2+,2023,850000000.0,Medellín,Antioquia
3,Jac E10x Electrico,2023,104990000.0,Usaquén,Bogotá D.C.
4,Volkswagen Jetta 2.0 Gli,2023,159990000.0,Suba,Bogotá D.C.

In [17]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         2016 non-null   object
 1   generation   2016 non-null   int64
 2   price        2016 non-null   float64
 3   city         2016 non-null   object
 4   departament  2016 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 78.9+ KB

Transformation of the motors dataframe

In [18]:
motors["price"] = motors.price.str.replace(" pesos", "")
motors[["city", "departament"]] = motors.ubication.str.split("-", expand=True)
motors.drop(["ubication"], axis=1, inplace=True)
motors["price"] = motors["price"].astype("float64")
motors["generation"] = motors["generation"].astype("int")

In [19]:
motors.head()

,name,generation,price,city,departament
0,Pulsar N250 Fi Abs,2023,13750000.0,Antonio Nariño,Bogotá D.C.
1,Pulsar N250 Fi Abs,2023,13999000.0,Antonio Nariño,Bogotá D.C.
2,Pulsar N250,2023,13999000.0,Antonio Nariño,Bogotá D.C.
3,Pulsar Ns 200 Fi Abs,2023,13399000.0,Antonio Nariño,Bogotá D.C.
4,Pulsar Ns 200 Fi Pulsarmania,2023,12199000.0,Engativa,Bogotá D.C.

In [20]:
motors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 967 entries, 0 to 966
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         967 non-null    object
 1   generation   967 non-null    int64
 2   price        967 non-null    float64
 3   city         967 non-null    object
 4   departament  967 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 37.9+ KB

export the data

In [21]:
cars.to_csv("clean_data/new_cars.csv", index=False)
motors.to_csv("clean_data/new_motors.csv", index=False)